<h2>Ajouter un utilisateur</h2>

<!-- Template driven forms -->
<form #f1="ngForm" (ngSubmit)="addUser(f1)">
  <div class="mb-3">
    <label for="email" class="form-label">Email *</label>
    <input
      type="text"
      class="form-control"
      id="email"
      name="email"
      ngModel
      required
      #e="ngModel"
    >
    <div
      *ngIf="e.invalid && e.touched"
      class="error">
        Le champ email est obligatoire!
    </div>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password *</label>
    <input
      type="text"
      class="form-control"
      id="password"
      name="password"
      ngModel
      required
      #p="ngModel"
    >
    <div
      *ngIf="p.invalid && p.touched"
      class="error">
        Le champ Password est obligatoire!
    </div>
  </div>
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control" id="name" name="name" ngModel #name="ngModel">
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="f1.invalid">Valider</button>
</form>
