<h2>Editer les coordonnées d'utilisateur {{user? user.name : ''}}</h2>

<form [formGroup]="editUser" (ngSubmit)="Edituser()" >
  <div class="mb-3">
    <label for="email" class="form-label">Email *</label>
    <input
      type="text"
      class="form-control"
      id="email"
      formControlName="email">
  </div>
  <div class="mb-3">
    <label
      for="password"
      class="form-label">
        Password *
      </label>
    <input
      type="password"
      class="form-control"
      id="password"
      formControlName="password"
      >
  </div>
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input type="text"
      class="form-control"
      id="name"
      formControlName="name" >
  </div>
  <button
    type="submit"
    class="btn btn-primary"
    [disabled]="editUser.invalid" >Valider</button>
</form>
